// * Colors
$c-bg_white: #e5e5e5;
$c-t_white: #f1f1eb;
$c-brown: #4b321d;

// * Font
$f-base: "Poppins", sans-serif;

// * Font size
$fs-title2: 80px;
$fs-button: 20px;
$fs-title3: 38px;
$fs-base: 18px;

// * Border-radius
$br-image: 16px;
$br-button: 3px;
