//- Block3
mixin block3()
  //- Block3
  section.block3
    .block3-wrapper 
      .block3-title-button
        h3.block3-title I'm always on the go. Follow along!
        button.block3-button(type="button") 
          a(href="#") @aloha
      .block3-image 
        img(src="./assets/image/three-image.png" alt="foto")
