//- Block4
mixin block4()
  //- Block4
  section.block4
    .block4-wrapper 
      .block4-title-text
        h2.block4-title-white "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        .block4-text Full Name, CEO at Client
      .block4-title-button
        h2.block4-title-brown Seem like a good fit?
        button.block4-button(type="button") 
          a(href="#") Let's talk!
