//- Block2
mixin block2()
  //- Block2
  section.block2
    .block2-wrapper 
      .block2-image 
        img(src="./assets/image/two-image.png" alt="foto")
      .block2-title-button
        h3.block2-title My services are perfect for companies that are just getting started
        button.block2-button(type="button") 
          a(href="#") Learn more
