//- Block1
mixin block1()
  //- Block1
  section.block1 
    .block1-wrapper 
      .block1-title-image 
        h2.block1-title1 Creating purpose-built brands & websites
        .block1-image 
          img(src="./assets/image/one-image.png" alt="foto")
      .block1-title-button
        h2.block1-title2 I help emerging brands get their footing in today's digital world.
        button.block1-button(type="button") 
          a(href="#") See my work