//- Footer
mixin footer()
  //- Footer
  footer.footer
    .footer__wrapper
      //- Footer logo
      .footer__Logo 
        .footer__Logo-text
          .logo-text © Aloha
          .logo-text Powered by Webflow
        .footer__Logo-icon
          svg.palm(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 898 1024")
            path(d="M896.422 309.553c-59.018-123.737-181.345-201.207-290.796-204.434 24.68-25.823 54.727-49.495 89.063-69.938 15.022-8.608 9.658-30.127-7.511-32.279-87.99-6.456-174.906 20.443-233.923 73.166-68.676-54.874-169.542-86.078-271.48-73.166-17.169 2.152-20.388 26.899-3.22 33.355 42.922 16.14 82.625 38.735 115.888 66.71-111.596 2.152-234.997 83.926-292.941 210.891-6.438 15.064 9.657 30.127 23.607 21.518 71.894-39.81 151.299-68.861 218.901-74.242-84.77 54.874-128.765 166.775-116.962 278.675 2.146 17.216 24.68 21.52 32.192 6.457 59.018-111.902 139.495-172.154 219.974-174.306 31.119 296.967-23.608 545.515-43.994 625.138-3.219 13.987 6.437 26.899 20.387 26.899h180.273c11.803 0 20.387-8.607 21.461-20.442 1.073-15.065 1.073-36.584 2.145-65.635l-67.602-7.533c-5.364-1.076-5.364-12.911 0-12.911l68.676-7.531c0-35.508 0-78.546-2.147-126.965l-69.749-7.531c-5.364-1.076-5.364-12.911 0-12.911l68.676-7.533c-1.074-38.734-4.292-81.773-7.511-125.889l-71.894-8.607c-5.366-1.076-5.366-12.911 0-12.911l69.747-7.533c-3.219-40.886-7.511-83.925-13.95-126.963l-63.31-10.759c-5.364 0-5.364-12.913 0-12.913l59.018-6.455c-3.219-24.747-7.511-49.495-10.73-74.242 83.697 10.759 159.884 72.090 209.243 186.142 6.439 15.064 28.972 11.837 32.191-4.303 23.608-123.737-17.167-237.789-103.011-292.665 59.017 5.38 131.985 32.279 216.754 75.318 13.95 6.457 30.046-8.607 22.535-23.671z")
      //- Footer link
      .footer__link
        .footer__link-colum1
          .link-colum 
            a(href="#") About
          .link-colum
            a(href="#") Contact
          .link-colum
            a(href="#") Licenses
          .link-colum
            a(href="#") Style Guide
          .link-colum
            a(href="#") Changelog
          .link-colum
            a(href="#") Password
          .link-colum
            a(href="#") 404
        .footer__link-colum2
          .link-colum 
            a(href="#") Home 1
          .link-colum
            a(href="#") Home 2
          .link-colum
            a(href="#") Work 1
          .link-colum
            a(href="#") Work 2
          .link-colum
            a(href="#") Blog 1
          .link-colum
            a(href="#") Blog 2
        .footer__link-colum3
          .link-colum
            a(href="#") Twitter
          .link-colum
            a(href="#") Instagram
          .link-colum
            a(href="#") Facebook
