// * Block3

// Block3
.block3 {
  margin-bottom: 15px;

  // Media
  @media (max-width: 1024px) {
    margin-bottom: 10px;
  }
  @media (max-width: 768px) {
    margin-bottom: 5px;
  }
  @media (max-width: 480px) {
    margin-bottom: 0;
  }
}
.block3-wrapper {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  padding: 5px;
}

// Title-button
.block3-title-button {
  height: fit-content;
  align-self: center;
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
}
.block3-title {
  margin-bottom: 20px;

  // Media
  @media (max-width: 1024px) {
    margin-bottom: 15px;
  }
  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
  @media (max-width: 480px) {
    margin-bottom: 5px;
  }
}
.block3-button {
  @include button;

  // Media
  @media (max-width: 1024px) {
    font-size: 14px;
    padding: 10px;
    height: 45px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
    height: 35px;
    padding: 7px;
  }
  @media (max-width: 480px) {
    font-size: 10px;
    height: 25px;
    padding: 3px;
  }
}
